<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>
<style>
    *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
</style>
<body>
    <!-- <script>
        var img_url = {{ file_path }};
    </script> -->
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <img style="max-width: 400px;" src="{{ user_image }}" alt="user_input_image">
        <div style="margin-top: 10px;">
            <p style="font-size: 1.3rem;">Prediction: <strong>{{ prediction_output }}</strong></p>
            <p style="font-size: 1.3rem;">Confidence: <strong>{{ confidence }}%</strong></p>
        </div>
    </div>
</body>
</html>